*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

h1 {
  font-size: 38px;
  font-weight: bolder;
  margin-bottom: 15px;
}

.container {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

button {
  letter-spacing: 3px;
  padding: 10px 13px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(150, 75, 0);
  border: none;
  border-radius: 8px;
}

.content {
  display: none;
  /* background-color: rgb(150, 75, 0); */
  margin-top: 14px;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 5px;
}

.content.active {
  display: block;
}
