*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  z-index: 0;
}

h1 {
  margin-bottom: 20px;
}

.container {
  width: 400px;
  max-width: 400px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;
  position: relative;
  height: 80px;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  height: 100%;
  align-items: center;
}

.progress-bar::before {
  content: "";
  width: 400px;
  max-width: 400px;
  position: absolute;
  background: #a48361;
  position: absolute;
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.progress-bar {
  content: "";
  width: 400px;
  max-width: 400px;
  position: absolute;
  background: #412a1e;
  position: absolute;
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 15px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.icon-wrapper i {
  font-size: 20px;
}
.icon-wrapper i {
}

.step-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 20px;
  height: 20px;
  border: 3px solid #412a1e;
  border-radius: 50%;
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

.button-group {
  display: flex;
}

.button {
  padding: 12px 15px;
  background-color: #a48361;
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
  border-radius: 8px;
}
