*,
*:after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #c19a6b;
}

.ripple-effect {
  position: relative;
  padding: 15px 35px;
  display: inline-block;
  margin: 10px;
  font-size: 20px;
  letter-spacing: 3px;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  background: linear-gradient(90deg, rgb(210, 185, 18, 0.813), blue);
  color: #fff;
  font-weight: bold;
}

.ripple-effect.secondary {
  background: linear-gradient(
    90deg,
    rgb(210, 185, 18, 0.813),
    rgb(0, 255, 110)
  );
}

.ripple-effect span {
  position: absolute;
  background: rgba(232, 216, 192, 0.6);
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: rippleEffect 1s linear forwards;
}

@keyframes rippleEffect {
  0% {
    width: 0;
    height: 0;
    opacity: 0.6;
  }
  100% {
    width: 400px;
    height: 400px;
    opacity: 0;
  }
}
