*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.scroll-container {
  text-align: center;
  position: fixed;
  top: 0;
  background-color: #aa845a;
  left: 0;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 30px;
}

.posts-container {
  display: flex;
  flex-direction: column;
}

.post-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.scroll-bar {
  height: 10px;
  background-color: #412a1e;
  width: 100%;
}
.track-bar {
  height: 10px;
  width: 0;
  background-color: #aa845a;
  border: 2px solid #412a1e;
}

.post {
  background: linear-gradient(90deg, #aa845a, #312e81);
  padding: 12px 15px;
  border-radius: 9px;
  border: none;
  gap: 10px;
}
