* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  height: 100vh;
  /* background-color: rgb(139, 90, 43); */
  font-size: 18px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}
.hex-color-container,
.rgb-color-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50vw;
}

.hex-color-container {
  background-color: rgb(139, 90, 43);
}
.rgb-color-container {
  background-color: rgba(240, 194, 152, 0.609);
}

.rgb-color-input {
  display: flex;
  flex-direction: row;
}
.rgb-color-input {
  display: flex;
  flex-direction: column;
}
.hex-color,
.rgb-color {
  font-size: 30px;
  font-weight: bold;
  /* color: bisque; */
}
button {
  background-color: rgb(150, 75, 0);
  padding: 20px;
  font-size: 20px;
  border-radius: 15px;
  font-weight: bold;
}
