*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background-color: var(--background-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

:root,
[data-theme="light"] {
  --background-color: rgb(232, 216, 192);
  --text-color: rgb(17, 24, 39);
}

.color-change-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

[data-theme="dark"] {
  --background-color: #000;
  --text-color: white;
}

[data-theme="navy"] {
  --background-color: rgb(0, 0, 128);
  --text-color: white;
}

[data-theme="midnight"] {
  --background-color: rgb(0, 15, 45);
  --text-color: white;
}

[data-theme="gray"] {
  --background-color: rgb(13, 27, 42);
  --text-color: white;
}

[data-theme="zinc"] {
  --background-color: rgb(39, 39, 42);
  --text-color: white;
}

.change-button {
  padding: 12px 24px;
  font-size: 1rem;
  border: 2px solid var(--text-color);
  border-radius: 8px;
  background-color: transparent;
  color: var(
    --text-color
  ); /* buttons don't inherit text colour, so we set it */
  cursor: pointer;
}

.change-button:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}
