*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 25px;
  font-family: "Courier New", Courier, monospace;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  color: var(--bg-text);
}

[data-theme="dark"] {
  --bg-color: #000;
  --bg-button: #fff;
  --bg-text: #c4adad;
}
[data-theme="light"] {
  --bg-color: #fff;
  --bg-button: #000;
  --bg-text: rgb(116, 81, 57);
}
[data-theme="blue"] {
  --bg-color: rgb(11, 11, 110);
  --bg-button: rgb(103, 73, 40);
  --bg-text: #000;
}
[data-theme="brown"] {
  --bg-color: rgb(103, 73, 40);
  --bg-button: #fff;
  --bg-text: #000;
}
[data-theme="grey"] {
  --bg-color: rgba(128, 128, 128, 0.615);
  --bg-button: #fff;
  --bg-text: #000;
}

.container {
  padding: 15px;
  width: 40%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

button {
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  background-color: var(--bg-button);
  color: var(--bg-text);
  cursor: pointer;
}
